<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../static/image/Favicon.ico">
  <title>Student Dashboard</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<body>
 <div id="app">
    <nav >
      <div style="text-decoration:none;" class="logo"><a href="/dashboard">IIC</a></div>
      <ul  style="text-decoration:none;" class="nav-links">
        <li><a href="/dashboard">Home</a></li>
        <li><router-link to="workshop" >Workshop</router-link></li>
        
        <li><router-link to="connect" >connect</router-link></li>
        <li class="profile-dropdown">
          <!-- Profile button with dropdown content -->
          <button class="profile-button" >
            <!-- <img src="../static/image/avatar.jpeg" alt="avatar_image" height=150% style="border-radius: 50%;"> -->
            
           <p style="size:300px">&#128100; </p> 
          </button>
          <div class="dropdown-content">
            <!-- Dropdown menu items -->
            <a href="/profile">My Profile</a>
            <a onclick="logout()">Log Out</a>
          </div>
        </li>
      </ul>
    </nav>
    <br>
    <br>
    <br>
     
    <main>
      
         <router-view ></router-view>
       
    </main>
    
    </div>
  <script src="../static/js/dashboard.js"></script>
</body>
</html>
